<div style="background-color: navy;">
    <nav class="navbar">
        <h3 class="name"><strong>{{title}}</strong></h3>
        <ul class="nav-list  ">
            <li><a routerLink="/" *ngIf="!_auth.loggedIn()">Home</a></li>
            <li><a routerLink="/signup" *ngIf="!_auth.loggedIn()">Sign Up</a></li>
            <li><a routerLink="/login" *ngIf="!_auth.loggedIn()">Login</a></li>
            <li><a routerLink="/teacherHome" *ngIf="_auth.isTeacher()">Teacher Home</a></li>
            <li><a routerLink="/createclass" *ngIf="_auth.isTeacher()">Create a Class</a></li>
            <li><a routerLink="/studentHome" *ngIf="_auth.isStudent()">Student Home</a></li>
            <li><a routerLink="/enrollclass" *ngIf="_auth.isStudent()">Enroll in a Class</a></li>
            <li><a (click)="logoutUser()" *ngIf="_auth.loggedIn()">Logout</a></li>
        </ul>
    </nav>
</div>