<app-admin-navbar></app-admin-navbar>
<h1 style="color: navy; margin-top: 1%; margin-bottom: 2%; text-align: center;">Students List
    <p class="lead"></p>
    <button class="btn btn-primary" [routerLink]="['/adduser','Student']" >Add Student</button>
</h1>

<div class="card col-md-6 offset-3">
    
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Student Name</th>
                    <th>Enrolled Classes</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let data of student">
                    <th>.</th>
                    <th>{{data.name}}</th>
                    <th>
                        <ul *ngFor = "let x of data.classes">
                            <li>{{x}}</li>
                        </ul>
                    </th>
                    <th>
                        <button class="btn btn-danger" (click)="deleteStudent(data.id)">Delete</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>