<h1 style="text-align: center;">Teacher Home</h1>
<br>
<br>
<br>
<div class="card col-md-8 offset-2" style="background-color: lightblue">
    <div class="card-header">
        <h3>Class List</h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered border-primary">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Class Code</th>
                    <th>Class Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let class of classes">
                    <th scope="row">&#8226;</th>                        
                    <th>{{class.classCode}}</th>
                    <th>{{class.className}}</th>
                    <th><button class="btn btn-warning mx-2" (click)="edit(class._id)">Edit</button>
                    <button class="btn btn-primary mx-2">Go to Class</button>
                    <button class="btn btn-danger" (click)="deleteClass(class._id)">Delete</button></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
