<h1 style="color: navy; margin-top: 1%; margin-bottom: 2%; text-align: center;">{{title}}
    <p class="lead"></p>
</h1>
<div class="card col-md-6 offset-3">
    <div class="card-header">
            <h3>Notes</h3>
            <button class="btn btn-primary" *ngIf="_auth.isTeacher();" (click)="openform()">Create note</button>
            <div class="container form-popup" id="myForm" style="display: none;">
                <form [formGroup]="noteForm">
                    <strong><label class="form-label" for="">Note title</label></strong>
                    <input type="text" formControlName="title" class="form-control" name="" id="">
                    <div class="text-danger" *ngIf="fcontrol.title.touched && fcontrol.title.errors?.required">Field required</div>
                    <strong><label for="" class="form-name">Content(Link)</label></strong>                
                    <input type="text" formControlName="content" name="" class="form-control" id="">
                    <div class="text-danger" *ngIf="fcontrol.content.touched && fcontrol.content.errors?.required">Field required</div>
                    <br>
                    <button class="btn btn-success mx-2"[disabled]="noteForm.invalid" (click)="createNote()" >Create</button>
                    <button class="btn btn-danger" (click)="closeform()">Close</button>
                </form>
            </div>
    </div>
    <div class="card-body">
        <ul *ngFor = "let note of note">
            <li>
                {{note.title}}
                <ul>
                    <button class="btn btn-success mx-2" (click)="viewNote(note.content);" >View</button>
                    <button class="btn btn-danger" *ngIf="_auth.isTeacher();"  (click)="deleteNote(note._id);">Delete</button>
                </ul>
            </li>
        </ul>
    </div>

</div>
