<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body" style="text-align: center;">
                    <!--/stories-->
                    <br>
                    <h1 style="color: navy; text-align: center; font-family: 'Courier New', Courier, monospace;">Welcome</h1>
                    <br>
                    <img src="https://images.ctfassets.net/yqezig6gzu6c/6YIYBibD0eZaWsERNH5Qup/341b0f46ba02104230220c61c9d56f3d/GettyImages-1212945980.jpg?w=800&q=100"
                        style="height: 550px; width: 1000px;" >
                    <!--/stories-->
                </div>
            </div>
        </div>
        <!--/col-12-->
    </div>
</div>