<div class="container">
    <div>
      <h1 style="color: rgb(146, 25, 106); margin-top: 1%; margin-bottom: 2%; text-align: center;">{{title}}
        <p class="lead"></p>
      </h1>
    </div>

    <form [formGroup]="createClassform" (ngSubmit)="createClass()"> 
        <div class="container">
          <div class="row">
            <div class="col-lg-7" style="margin-left: 25%;">
              <div class="panel">
                <div class="panel-body" style="background-color: rgb(240, 197, 226); border-radius: 20px;">
                  <div class='table-responsive'>
                    <table class='table' style="margin-top: 60px;">       
                      <tbody> 
                        <tr>
                          <td><label style="font-size: 18px;"><b>Enter the Class Name</b></label></td>
                          <td><input type="text" style="width: 300px;" formControlName="className" name="className" required/></td>
                          <td><span class="text-danger" *ngIf="(fcontrol.className.touched) && fcontrol.className.errors?.required">Enter the class name</span></td>                  
                        </tr>
                        <tr>
                          <td><label style="font-size: 18px;"><b>Enter the Class Code</b></label></td>
                          <td><input type="text" style="width: 300px;" formControlName="classCode" name="classCode" required/></td>               
                          <td><span class="text-danger" *ngIf="(fcontrol.classCode.touched) && fcontrol.classCode.errors?.required">Enter the class Code</span></td>
                        </tr>  
                        <tr>
                          <td><label style="font-size: 18px;"><b>Enter the Class Description</b></label></td>
                          <td> <textarea name="" id="" cols="30" formControlName="description"  rows="10"></textarea> </td>
                          <td><span class="text-danger" *ngIf="fcontrol.description.touched && fcontrol.description.errors?.required">Class Description is required!</span></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td><button type="submit" [disabled]="createClassform.invalid" class="btn btn-info" style="margin-left: 5%;color: navy; background-color: rgb(226,75,176);"><b>Create Class</b></button></td>                  
                        </tr>             
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
 
